.cent{
    display: grid;
    place-items: center;
}
.siz{
    font-size: 1.5rem;
}
.bg-naimg{
    background-image: url("https://img.freepik.com/free-vector/hand-painted-watercolor-pastel-sky-background_23-2148902771.jpg?w=2000");
    background-size: cover;
}
.bg-tra{
    background-color: transparent !important;
}
.bord{
    border-radius: 10px;
}
.nonline{
    outline: none;
    border: none;
    background-color: transparent;
}
.bt{
    background-color: rgb(255, 0, 208);
}
.btrd{
    border-radius: 5px;
    background-color: rgb(175, 18, 141);
}
.btn-brd{
    background-color: rgb(243, 238, 243);
    color: blueviolet;
    border-color: blueviolet;
    border-radius: 5px;
    margin-right: 120PX;
    width: 131px;
}